html {
    background-color: #000;
    height: 100%;
    margin: 0;
}

body {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    margin: 0;
}

.main {
    min-height: 100%;
    margin: 0;
    background-color: rebeccapurple;
    /* background: url("../images/background.png") no-repeat center center fixed; */
    text-shadow: 5px 5px 5px black;
    background-size: cover;
    text-align: center;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

.text-box {
    display: inline-block;
    padding: 2%;
    border: 4px solid white;
    border-radius: 12px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    transition: all 0.15s ease;
    color: inherit;
    text-decoration: none;
}

.text-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    pointer-events: none;
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.text-box:hover {
    color: #53a0df;
    border: 4px solid #9ecaed;
    background-color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

.top-box {
    margin-top: 11%;
}

.multi-box {
    margin-top: 4%;
}

.multi-box .text-box {
    margin: 5%;
    width: 220px;
}

.multi-box .text-box:hover {
    cursor: pointer;
}

.main .content-box {
    max-width: calc(64rem + 8vw);
    margin: 0 auto;
    padding: 3rem;
    background-color: #222426;
    text-shadow: none;
}

.main .content-box h1 {
    text-align: left;
    font-size: 20px;
    margin-top: 0;
}

.main .content-box h1 a {
    color: inherit;
    text-decoration: none;
    box-shadow: inset 0 -2px 0 white;
    transition: all ease-out .1s;
}

.main .content-box h1 a:hover {
    color: aqua;
    box-shadow: inset 0 -2px 0 aqua;
}

.main .content-box h2 {
    text-align: center;
}

.main .content-box p {
    text-align: left;
    font-size: 1.2em;
    line-height: 1.5em;
}

.main .content-box a {
    color: inherit;
    text-decoration: none;
    font-weight: 400;
    box-shadow: inset 0 -2px 0 blue;
    transition: all ease-out .1s;
}

.main .content-box a:hover {
    box-shadow: inset 0 -2px 0 aqua;
}

.main .content-box ul p {
    line-height: 1em;
}

.main .footer {
    position: absolute;
    bottom: 0;
}

.name {
    font-weight: 700;
    font-size: 60px;
    display: inherit;
}

.subtitle {
    font-weight: 300;
    font-size: 50px;
    display: inherit;
}

.contact {
    font-weight: 100;
    font-size: 24px;
    display: inherit;
    margin-top: 5px;
}

.contact a {
    color: inherit;
    text-decoration: none;
    font-weight: 400;
    box-shadow: inset 0 -2px 0 blue;
    transition: all ease-out .1s;
}

.contact a:hover {
    box-shadow: inset 0 -2px 0 aqua;
}
